node_modules/
app/node_modules/
bot/node_modules/
bot/.env
bot/slash-bot/.env
bot/slash-bot/.dev.vars
app/.env
app/dist/
app/.vercel/
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
.env*
!.env.example
